html{
    background-color: black;
}
h1{
    text-transform: uppercase;
}
img{
    border:5px solid white;
    width: 100%;
}
div{
    font-family: "Libre Baskerville", serif;
    color:white;
    text-align: center;
    width:50%;
    margin-left:25%;
    margin-top:8%;
}